@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #fff;
  --color-primary: black;
  --color-bgdarkblue: #101828;
  --color-textdark: #fff;
  --color-whiteCard: #f4f4f5;

}
